/* support css */
.project-tab #tabs {
	background: #007b5e;
	color: #eee;
}

.project-tab #tabs h6.section-title {
	color: #eee;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
	{
	color: #0062cc;
	background-color: transparent;
	border-color: transparent transparent #f3f3f3;
	border-bottom: 3px solid !important;
	font-size: 16px;
	font-weight: bold;
}

.project-tab .nav-link {
	border: 1px solid transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	color: #0062cc;
	font-size: 16px;
	font-weight: 600;
}

.project-tab .nav-link:hover {
	border: none;
}

.project-tab thead {
	background: #f3f3f3;
	color: #333;
}

.project-tab a {
	text-decoration: none;
	color: #333;
	font-weight: 600;
}
.qna-search{
	display:flex;
}
#insert-qna-view{
	float:right;
}
.qna-title,.qna-title-reple{
	cursor: pointer;
}
.qna-answer>td{
	color:gray
}
.insert-from{
	display:flex;
	justify-content:center;
	align-items:center;
	
}
textarea{
	resize:none;
}

/* FAQ */

.faq-back{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.faq-category {
	border: 1px solid gray;
	border-radius: 5px;
	width: 90%;
}

.faq-list-back {
	width: 80%;
	display: none;
}

.faq-list {
	padding: 0;
	width: 100%;
	list-style: none;
}

.faq-question {
	/* display: none; */
	width: 100%;
	border: 1px solid gray;
	border-radius: 5px;
}

#faq-question {
	/* display: none; */
	width: 100%;
	border: 1px solid gray;
	border-radius: 5px;
}

.faq-answer {
	display: none;
}

#faq-answer {
	border-top: 1px solid gray;
}

.answer-slide{
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	float: right;
	cursor: pointer;
	outline: none;
}

.faq-slide{
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	float: right;
	cursor: pointer;
	outline: none;
}




