@charset "UTF-8";

    body, html{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

/* ======================헤더 */
    #mainVideo{
        width: 100%;
        height: auto;
        max-height: 600px;
        min-height: 500px;
        background-color: midnightblue;
    }
    #mainVideo img{
        width: 100%;
        height: auto;
        max-height: 400px;
        min-height: 500px;
    }

    #topWrap{
        position: absolute;
        left: 50%;
        top: 0.1%;
        transform: translate(-50%,-0.1%);
        width: 100%;
        height: 60px;
        background-color: midnightblue;
    }
    #logoIcon{
        position: absolute;
        width: 50px;
        height: 50px;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
        background-color: white;
        border-radius: 20%;
    }
    #serviceWrap{
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translate(-50%,-10%);
        /* background-color: blue;  */
    }
    #tradeService{
        position: relative;
        font-size: 30px;
        height: 35px;
        
        color: white;
        /* overflow: hidden; */
        /* background-color: blue;  */
    }
    #tradeService p{
        display: inline;
    }

    #enrollService{
        position: relative;
        top: -7%;
        transform: translateY(7%);
        font-size: 30px;
        color: white;
        white-space: nowrap;

    }
    #enrollService p{
        display: inline;
    } 
 

    #loginWrap{
        position: absolute;
        left: 93%;
        top:50%;
        transform: translate(-93%,-50%);
        white-space: nowrap;
    }
    #login{
        font-size: 20px;
        color: white;
        text-decoration: none;
    }
    #join{
        font-size: 20px;
        color: white;
        white-space: nowrap;
        text-decoration: none;
    }

    #mainWrite{
        position: absolute;
        left: 50%;
        top: 220px;
        transform: translateX(-50%); 
        /* background-color: red;   */
    }
    #write1{
        
        position: relative;
        left: 50%;
        top: 1%;
        transform: translate(-50%,-1%);
        font-size: 35px;
        font-weight: bold;
        color: white;
        white-space: nowrap;
    }
    #write2{
        position: relative;
        left: 50%;
        top: -30;
        transform: translate(-50%, -30%);
        font-size: 70px;
        font-weight: bold;
        color: gold;
        white-space: nowrap;
    }

    #mainNavi{
        position: relative;
        width: 40%;
        min-width: 600px;
        height: 130px;
        left: 50%;
        top: -80px;
        transform: translate(-50%);
        background-color: white;
        border-radius:200px;
    }

    #iconWrap{
        position: relative;
        display: inline-block;
        left: 50%;
        top:70%;
        transform: translate(-50%,-70%);
        /* background-color: black; */
    }
    #icon1{
        position: relative;
        display: inline-block;
        width: 60px;
        height: 60px;
        top: 50%;
        transform: translateY(-50%);
        background-color: gold;
        border-radius: 100%;
    }
    #icon2{
        position: relative;
        display: inline-block;
        width: 60px;
        height: 60px;
        top: 50%;
        transform: translateY(-50%);
        background-color: gold;
        border-radius: 100%;
        margin-left: 40px;

    }
    #icon3{
        position: relative;
        display: inline-block;
        width: 60px;
        height: 60px;
        top: 50%;
        transform: translateY(-50%);
        background-color: gold;
        border-radius: 100%;
        margin-left: 40px;
    }
    #icon4{
        position: relative;
        display: inline-block;
        width: 60px;
        height: 60px;
        top: 50%;
        transform: translateY(-50%);
        background-color: gold;
        border-radius: 100%;
        margin-left: 40px;
    }
    #icon5{
        position: relative;
        display: inline-block;
        width: 60px;
        height: 60px;
        top: 50%;
        transform: translateY(-50%);
        background-color: gold;
        border-radius: 100%;
        margin-left: 40px;
    }
/* =============================헤더 끝 */

/* ===============================푸터 */
    #famousContentWrap{
        position: relative;
        left: 50%;
        top: -15%;
        transform: translate(-50%,-15%);
        width: 1000px;
        height: 400px;
        margin-bottom: 120px;
        /* background-color: blue; */
    }
    #famousContentTitle{
        position: relative;
        font-size: 55px;
        /* font-weight: bold; */
        margin-bottom: -20px;
        white-space: nowrap;
        color: black;
        font-family: 'Nanum Pen Script', cursive;
        /* background-color: red; */
    }
    #famousContentTitle2{
        position: relative;
        font-size: 35px;
        /* font-weight: bold; */
        margin-bottom: -15px;
        white-space: nowrap;
        color: black;
        opacity: 0.8;
        font-family: 'Nanum Pen Script', cursive;
        /* background-color: red; */
    }
    #famousContentBody{
        position: relative;
        width: 100%;
        height: 373.5px;
        white-space: nowrap;
        overflow: hidden;
        /* background-color: red; */
        /* opacity: 0.5; */
    }
    #famousContentLeft{
        position: absolute;
        width: 50px;
        height: 50px;
        left: 1%;
        top: 50%;
        z-index: 1;
        transform: translate(-1%,-50%);
        border-radius: 100%;
        background-color: gold;
        cursor: pointer;
    }
    #famousContentRight{
        position: absolute;
        width: 50px;
        height: 50px;
        left: 99%;
        top: 50%;
        z-index: 1;
        transform: translate(-99%,-50%);
        border-radius: 100%;
        background-color: gold;
        cursor: pointer;
    }
    .famousContent{
        position: relative;
        display: inline-block;
        width: 1000px;
        height: 400px;
        left: 0px;
        transition: ease-in-out;
        transition-duration: 0.7s;
        background-color: blue;
        /* opacity: 0.1; */
    }

    #recentlyViewWrap{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 1000px;
        height: 455px;
        /* background-color: blue; */
    }

    #recentlyViewTitle{
        position: relative;
        left: 50%;
        width: max-content;
        transform: translateX(-50%);
        font-size: 30px;
        font-weight: bold;
        white-space: nowrap;
        margin-bottom: 0px;
        color: black;
        /* background-color: red; */
    }
    #recentlyViewBody{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 800px;
        height: 400px;
        border: 3px solid black;
        border-radius: 15px;
        background-color: white;
    }
    #recentlyView{
        position: relative;
    }
    #recentlyViewLeft{
        position: absolute;
        width: 50px;
        height: 50px;
        left: -8%;
        top: 50%;
        transform: translate(8%,-50%);
        border-radius: 100%;
        background-color: mediumvioletred;
        cursor: pointer;
    }
    #recentlyViewRight{
        position: absolute;
        width: 50px;
        height: 50px;
        left: 108%;
        top: 50%;
        transform: translate(-108%,-50%);
        border-radius: 100%;
        background-color: mediumvioletred;
        cursor: pointer;
    }

    #similarContentWrap{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 1000px;
        height: 180px;
        /* background-color: blue; */
        margin-bottom:200px;
    }
    #similarContentTitle{
        position: relative;
        width: max-content;
        left: 50%;
        transform: translateX(-50%);
        font-size: 30px;
        font-weight: bold;
        white-space: nowrap;
        margin-bottom: 0px;
        color: black;
        /* background-color: red; */
    }
    #similarContentBody{
        position: relative;
        width: max-content;
        height: max-content;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        /* background-color: white; */
    }
    #similarContentBody div{
        position: relative;
        display: inline-block;
        width: 150px;
        height: 150px;
        border: 2px solid black;
        border-radius: 5px;
        background-color: white;
    }
    #rankingViewWrap{
        position: relative;
        left: 50%;
        top: 30px;
        transform: translate(-50%);
        width: 1000px;
        height: 639px;
        transition: ease-in-out;
        transition-duration: 0.7s;
        /* background-color: cornflowerblue; */
    }

    #rankingViewAlign{
        position: absolute;
        width: max-content;
        height: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%,-95%);
        /* background-color: aqua; */
    }
    #rankingViewBody{
        position: relative;
        display: inline-block;
        width: 500px;
        height: 639px;
        background-color: white;
        border: 1px solid gray;
        border-radius: 10px;
        transition: ease-in-out;
        transition-duration: 0.7s;
        background-color: white;
        overflow: hidden;
    }
    
    #rankingView1stBody{
        position: relative;
        width: 100%;
        height: 200px;
        background-color: gainsboro;
        margin-bottom: -5px;
        cursor: pointer;
    }
    
    #rankingViewTitle{
        position: relative;
        width: max-content;
        left: 50%;
        top: 0%;
        transform: translate(-50%,-0%);
        font-size: 50px;
        /* font-weight: bold; */
        white-space: nowrap;
        font-family: 'Sunflower', sans-serif;
        /* background-color: red; */
        color: black;
    }
    #rankingView1stBox{
        position: absolute;
        width: 85%;
        height: 65%;
        left: 50%;
        top: 100%;
        transform: translate(-50%,-100%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: white;
    }
    #rankingView1stLogo{
        position: absolute;
        width:120px;
        height: 120px;
        left: 3%;
        top:50%;
        transform: translate(-3%,-50%);
        border-radius: 100%;
        background-color: cornflowerblue;
    }
    #rankingView1stPriceBody{
        position: absolute;
        width: 270px;
        height: 80px;
        left: 95%;
        transform: translateX(-95%);
        /* background-color: gainsboro; */
    }
    #rankingView1stPriceTitle{
        position: relative;
        display: inline-block;
        top: 7px;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Sunflower', sans-serif;
        color: gray;
    }
    #rankingView1stPrice{
        position: relative;
        display: inline-block;
        top: -17px;
        font-size: 35px;
        white-space: nowrap;
        font-family: 'Sunflower', sans-serif;
        color: black;
    }
    #rankingView1stNickBody{
        position: absolute;
        width: 200px;
        height: 55px;
        left: 66%;
        top: 100%;
        transform: translate(-66%,-100%);
        /* background-color: blue; */
    }
    #rankingView1stNickBox{
        position: absolute;
        width: max-content;
        height: 35px;
        top: 10px;
        border: 3px solid gainsboro;
        border-radius: 30px;
        /* background-color: red; */
    }
    #rankingView1stNick{
        position: relative;
        width: max-content;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Sunflower', sans-serif;
        color: black;
    }
    .rankingViewBox{
        position: relative;
        width: 100%;
        height: 100px;
        cursor: pointer;
        /* background-color: coral; */
    }
    .rankingViewLogo{
        position: absolute;
        width: 50px;
        height: 50px;
        left: 5%;
        top: 80%;
        transform: translate(-5%,-80%);
        border-radius: 100%;
        background-color: cornflowerblue;
    }
    .rankingViewPriceBox{
        position: absolute;
        width: 230px;
        height: 60px;
        left: 85px;
        top: 60%;
        transform: translateY(-60%);
        /* background-color: red; */
    }

    .rankingViewPrice{
        position: absolute;
        top: 160%;
        transform: translateY(-160%);
        font-size: 30px;
        font-family: 'Sunflower', sans-serif;
        white-space: nowrap;
        color: black;
    }
    .rankingViewNickBox{
        position: absolute;
        width: 170px;
        height: 60px;
        left: 90%;
        top: 60%;
        transform: translate(-90%,-60%);
        /* background-color: blue; */
    }
    .rankingViewNick{
        position: absolute;

        left: 100%;
        top: 110%;
        transform: translate(-100%,-110%);
        white-space: nowrap;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Sunflower', sans-serif;
        /* font-weight: bold; */
        color: black;
    }
    .rankingWidthBar{
        position: relative;
        width: 350px;
        height: 4px;
        /* margin-bottom: -10px; */
        left: 50%;
        transform: translate(-50%);
        background-color: black;
        /* border-radius: 1px; */
        opacity: 0.1;  
    }
    #rankingViewMore{
        position: absolute;
        width: 100%;
        height: 30px;
        top: 100%;
        transform: translateY(-100%);
        /* border-radius: 100%; */
        z-index: 1;
        background-color: cornflowerblue;
        opacity: 1;
        cursor: pointer;
    }


    #rankingDetailViewBody{
        position: relative;
        display: inline-block;
        width: 0px;
        height: 300px;
        top: -340px;
        background-color: white;
        border: 1px solid gray;
        border-radius: 10px;
        transition: ease-in-out;
        transition-duration: 0.7s;
        overflow: hidden;
        opacity: 0;
    }
    #rankingDetailViewNickBox{
        position: absolute;
        width: 100%;
        height: 50px;
        background-color: cornflowerblue;
    }
    #rankingDetailViewNick{
        position: absolute;
        left: 50%;
        top: 90%;
        transform: translate(-50%,-90%);
        font-family: 'Sunflower', sans-serif;
        font-size: 25px;
        font-weight: bold;
        white-space: nowrap;
        color: white;
    }
    #rankingDetailViewDelete{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 98%;
        top: 5px;
        transform: translateX(-98%);
        border-radius: 100%;
        background-color: white;
        cursor: pointer;
    }
    #rankingDetailViewBox{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: max-content;
        height: max-content;
        /* background-color: red; */
    }
    #rankingDetailViewGood{
        display: block;
        font-size: 25px;
        color: black;
        font-family: 'Sunflower', sans-serif;
        margin-bottom: 3px;
    }
    #rankingDetailViewWork{
        display: block;
        font-size: 25px;
        color: black;
        font-family: 'Sunflower', sans-serif;
        margin-bottom: 3px;
    }
    #rankingDetailViewMajor{
        display: block;
        font-size: 25px;
        color: black;
        font-family: 'Sunflower', sans-serif;
        margin-bottom: 3px;
    }
    #reviewShowBox{
        position: absolute;
        width: 100%;
        height: 30px;
        left: 50%;
        top: 100%;
        transform: translate(-50%,-100%);
        background-color:cornflowerblue;
        cursor: pointer;
    }
    #reviewShow{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 21px;
        font-weight: bold;
        font-family: 'Sunflower', sans-serif;
        white-space: nowrap;
        color: white;
    }
    

    #widthTest{
        position: relative;
        width: 1024px;
        height: 10px;
        left: 50%;

        transform: translate(-50%);
        background-color: black;
    }
    #widthBar{
        position: relative;
        width: 600px;
        height: 8px;
        left: 50%;
        transform: translate(-50%);
        background-color: cornflowerblue;
        border-radius: 10px;
        opacity: 0.5;
    }
    #bottomBox{
        position: absolute;
        width: 100%;
        height: 20%;

        background-color: gainsboro;
        border: 1px solid black;
    }
    #reviewModalWrap{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        background-color: black;
        z-index: 2;
        opacity: 0;
        transition: ease-in-out;
        transition-duration: 0.7s;
        display: none;
    }
    #reviewModalContent{
        position: fixed;
        width: 0px;
        height: 0px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        border-radius: 2px;
        z-index: 2;
        transition: ease-in-out;
        transition-duration: 0.7s;
        opacity: 1;
        overflow: hidden;
        /* display: none; */
    }

    #reviewModalDelete{
        position: absolute;
        width: 40px;
        height: 40px;
        left: 98%;
        top: 5px;
        transform: translateX(-98%);
        background-color: cornflowerblue;
        border-radius: 100%;
        z-index: 2;
        cursor: pointer;
    }

/* ===================================푸터 끝 */