<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

	<resultMap type="map" id="memberMap">
		<result column="interest" property="interest" typeHandler="strArray"/>
	</resultMap>
	
	<!--관리자 페이지 회원리스트 -->
	<select id="selectMemberAdmin" resultType="map">
		SELECT M.*,GRADENAME
		FROM MEMBER M
		JOIN GRADE G ON(G.GRADENO=M.GRADENO) WHERE MEMBERLEVEL NOT LIKE 0
	</select>

	<!--관리자 페이지 검색 회원리스트 -->
	<select id="selectSearchAdmin" parameterType="string"
		resultType="map">
		SELECT M.*,GRADENAME FROM MEMBER M
		JOIN GRADE G ON(G.GRADENO=M.GRADENO) WHERE MEMBERID LIKE
		'%'||#{searchId}||'%'
	</select>

	<!-- 관리자 페이지 회원 상세보기 -->
	<select id="selectMemberDetail" parameterType="string"
		resultMap="memberMap">
		SELECT * FROM MEMBER JOIN GRADE USING(GRADENO) JOIN BANK
		USING(BANKCODE) WHERE MEMBERID=#{id}
	</select>

	<!-- 관리자 페이지 회원 정보 업데이트 -->
	<update id="updateMemberAdmin" parameterType="map">
		UPDATE MEMBER SET
		PHONE=#{phone}, EMAIL=#{email}, ADDRESS=#{address},
		REPORTCOUNT=#{reportCount} WHERE MEMBERID=#{memberId}
	</update>

	<!--관리자 페이지 회원리스트 정렬 -->
	<select id="selectMemberSortAdmin" parameterType="map"
		resultType="map">
		SELECT M.*,GRADENAME FROM MEMBER M
		JOIN GRADE G ON(G.GRADENO=M.GRADENO) WHERE MEMBERLEVEL NOT LIKE 0
		<if test="memberSort!='nosort'">
			<choose>
				<when test="ascDesc==0 and memberSort=='gradeno'">
					ORDER BY M.${memberSort}
				</when>
				<when test="ascDesc==1 and memberSort=='gradeno'">
					ORDER BY M.${memberSort} DESC
				</when>
				<when test="ascDesc==0">
					ORDER BY ${memberSort}
				</when>
				<otherwise>
					ORDER BY ${memberSort} DESC
				</otherwise>
			</choose>
		</if>
	</select>

	<!-- 관리자 페이지 회원 수 -->
	<select id="selectMemberCountAdmin" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER WHERE MEMBERLEVEL NOT LIKE 0
	</select>
	
	<!-- 관리자 페이지 카테고리 리스트 -->
	<select id="selectDeInterestAdmin" resultType="map">
		SELECT D.*,I.INTEREST 
		FROM DETAILINTEREST D 
		JOIN INTEREST I ON(I.INTERESTNO=D.INTERESTNO)
		
		<choose>
			<when test="interestNo==null">
				WHERE D.INTERESTNO=1
			</when>
			<otherwise>
				WHERE D.INTERESTNO=#{interestNo}
			</otherwise>
		</choose>
	</select>
	
	<!-- 관리자 페이지 카테고리 리스트 -->
	<select id="selectInterestAdmin" resultType="map">
		SELECT * FROM INTEREST
	</select>
	
	<!-- 관리자 페이지 2차 카테고리 리스트 -->
	<select id="selectDeInterestAdmin2" resultType="map">
		SELECT * FROM DETAILINTEREST WHERE INTERESTNO=#{interestNo}
	</select>
	
	<!-- 관리자 페이지 카테고리 수정 -->
	<update id="updateInterestAdmin" parameterType="map">
		UPDATE DETAILINTEREST SET INTERESTNO=${interestNo}, DETAILINTEREST=#{deInterestVal} WHERE DETAILINTERESTNO=${deInterestNo}
	</update>
	
	<!-- 관리자 페이지 카테고리 삭제 -->
	<delete id="deleteInterestAdmin" parameterType="_int">
		DELETE FROM DETAILINTEREST WHERE DETAILINTERESTNO=#{deInterestNo}
	</delete>
	
	<!-- 관리자 페이지 카테고리 등록 -->
	<insert id="insertInterestAdmin">
		INSERT INTO DETAILINTEREST VALUES(SEQ_DETAILINTERESTNO.NEXTVAL,#{interestNo},#{deInterestVal}) 
	</insert>
	
	<!-- 관리자 페이지 FAQ 카테고리 등록 -->
	<insert id="insertFaqCategory">
		INSERT INTO FAQCATEGORY VALUES(SEQ_FAQNACATEGORYNO.NEXTVAL,#{category})
	</insert>
</mapper>
