<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace='contest'>
	
	<!-- 컨테스트 숫자세기 -->
	<select id='contestCount' resultType='_int'>
		select count(*) from contest where contestDeleteYn='N' and contestYn='Y'
	</select>
	
	<!-- 컨테스트 검색 숫자세기 -->
	<select id='sortCount' parameterType='map' resultType='_int'>
		select count(*) from contest a join member b on a.memberId=b.memberId where contestYn='Y' and contestDeleteYn='N' and 1=1
		<choose>
        	<when test='interestFlag!=null and interestFlag!=""'> 
        		and a.interestNo = #{interestFlag}
       		</when>
   		</choose>
   		<choose>
        	<when test='detailInterestFlag!=null and detailInterestFlag!=""'> 
        		and a.detailInterestNo = #{detailInterestFlag}
       		</when>
   		</choose>
   		<choose>
        	<when test='searchTypeFlag!=null and searchTypeFlag!="" and searchTypeKeyword!=null and searchTypeKeyword!=""'> 
        		<if test='searchTypeFlag=="title"'>
			        and a.contestTitle like '%'||#{searchTypeKeyword}||'%'
			   	</if>
			   	<if test='searchTypeFlag=="name"'>
			      	and b.memberName like '%'||#{searchTypeKeyword}||'%'
			   	</if>
       		</when>
   		</choose>
	</select>
	
	<!-- 컨테스트 검색 -->
	
	<select id='contestSort' parameterType='map' resultType='map'>
		select a.*, memberName, memberlevel, REIMG, (select count(*) from contestApplicant where contestno=a.contestno) as contestApplicantCount from contest a join member b on a.memberId=b.memberId where a.contestYn='Y' and a.contestDeleteYn='N' 
		<choose>
        	<when test='interestFlag!=null and interestFlag!=""'> 
        		and a.interestNo = #{interestFlag}
       		</when>
   		</choose>
   		<choose>
        	<when test='detailInterestFlag!=null and detailInterestFlag!=""'> 
        		and a.detailInterestNo = #{detailInterestFlag}
       		</when>
   		</choose>
   		<choose>
        	<when test='searchTypeFlag!=null and searchTypeFlag!="" and searchTypeKeyword!=null and searchTypeKeyword!=""'> 
        		<if test='searchTypeFlag=="title"'>
			      	and a.contestTitle like '%'||#{searchTypeKeyword}||'%'
			   	</if>
			   	<if test='searchTypeFlag=="name"'>
			      	and b.memberName like '%'||#{searchTypeKeyword}||'%'
			   	</if>
       		</when>
   		</choose>
   		<choose>
   			<when test='sortTypeFlag!=null and sortTypeFlag!=""'>
   				<if test='sortTypeFlag=="new"'>
   					order by a.contestNo desc
   				</if>
   				<if test='sortTypeFlag=="endDate"'>
   					order by a.contestDeadLine desc
   				</if>
   				<if test='sortTypeFlag=="price"'>
   					order by a.contestPrice desc   				
   				</if>
   			</when>
   		</choose>
	</select>
	
	<!-- 컨테스트 리스트 가져오기 -->
	<select id='getContestList' parameterType='map' resultType='map'>
		select a.*, memberName, memberlevel, REIMG, (select count(*) from contestApplicant where contestno=a.contestno) as contestApplicantCount from contest a join member b on a.memberId=b.memberId where contestYn='Y' and contestDeleteYn='N' order by contestno desc
	</select>
	
	<!-- 컨테스트 이미지 가져오기 -->
	<select id='getContestDetailImg' parameterType='_int' resultType='map'>
		select contestImgNo,contestImgRe from contestImg where contestNo=#{contestNo} order by contestImgNo asc
	</select>
	
	<!-- 컨테스트 상세 가져오기 -->
	<select id='contestDetail' parameterType="_int" resultType='map'>
		select a.*, b.*, c.gradeName from contest a, member b, grade c where a.memberId=b.memberId and b.gradeNo=c.gradeNo and contestNo=#{contestNo} 
	</select>
	
	<!-- 컨테스트 당 첫번째 이미지 가져오기 -->	
	<select id='getContestPerFirstImg' parameterType='_int' resultType='contestImg'>
		select * from CONTESTIMG where CONTESTIMGNO=(select MIN(CONTESTIMGNO) from CONTESTIMG where CONTESTNO=#{contestNo})
	</select>
	
	<!-- 컨테스트 쓰기 -->
	<insert id='insertContest' parameterType='map'>
		insert into CONTEST values(seq_contestNo.nextval,'C',#{contestTitle}, #{contestContent}, #{contestDate}, #{contestDeadLine}, #{contestPrice}, default, default, #{detailInterestNo}, #{interestNo}, #{memberId})
		<selectKey keyProperty='contestNo' resultType='String' order='AFTER'>
			select seq_contestNo.currval from dual
		</selectKey>
	</insert> 
	
	<!-- 컨테스트 이미지 삽입 -->
	<insert id='insertContestImg' parameterType='contestImg'>
		insert into CONTESTIMG values(SEQ_CONTESTIMGNO.nextval,#{contestNo},'C',#{contestImgOri},#{contestImgRe})
	</insert>
	
	<!-- 지원자 체크 -->
	<select id='contestApplicantCheck' parameterType='map' resultType='map'>
		select applicantId from CONTESTAPPLICANT WHERE CONTESTNO=#{contestNo} and applicantId=#{applicantId}
	</select>
	
	<!-- 지원자 리스트 -->
	<select id='contestApplicantList' parameterType='_int' resultType='map'>
		select * from CONTESTAPPLICANT where contestNo=#{contestNo}
	</select>
	
	<!-- 지원하기 -->
	<insert id='contestApplicant' parameterType='map'>
		insert into CONTESTAPPLICANT values(SEQ_CONTESTAPPLICANTNO.NEXTVAL, #{contestNo},'C', #{applicantId}, default, #{applicantFileOri}, #{applicantFileRe}) 
	</insert>
	
	<!-- 지원자 한명 선택 -->
	<select id='contestApplicantOne' parameterType='map' resultType='map'>
		select * from member m join contestapplicant c on m.MEMBERID=c.APPLICANTID where m.memberId=#{applicantId} and contestNo=#{contestNo}
	</select>
	
	<!-- 지원자 승인 -->
	<update id='applicantConfirm' parameterType='map'>
		update contestApplicant set APPLICANTYN='Y' where applicantId=#{targetId} and contestNo=#{contestNo}
	</update>
	
	<!-- 컨테스트 삭제 -->
	<update id='contestDel' parameterType='_int'>
		update contest set contestDeleteYn='Y' where contestNo=#{contestDelNo}
	</update>
	
	<!-- 컨테스트 수정 정보 불러오기 -->
	<select id='contestModify' parameterType="_int" resultType='map'>
		select * from contest where contestNo=#{contestNo} 
	</select>
	
	<!-- 컨테스트 수정 이미지 정보 불러오기 -->
	<select id='contestModifyImg' parameterType='_int' resultType='map'>
		select * from contestImg where contestNo=#{contestNo}
	</select>
	
	<!-- 컨테스트 수정 -->
	<insert id='contestModifyEnd' parameterType='map'>
		update CONTEST set CONTESTTITLE=#{contestTitle}, CONTESTCONTENT=#{contestContent}, CONTESTDATE=#{contestDate}, CONTESTDEADLINE=#{contestDeadLine}, CONTESTPRICE=#{contestPrice}, DETAILINTERESTNO=#{detailInterestNo}, INTERESTNO=#{interestNo} where CONTESTNO=#{contestNo}		
	</insert>
	
	<!-- 컨테스트 수정이미지 불러오기 -->
	<select id='contestPreModifyImg' parameterType='int' resultType='contestImg'>
		select * from contestImg where contestNo=#{contestNo} order by contestImgNo asc
	</select> 
	
	<!-- 컨테스트 이미지 일단 삭제 -->
	<delete id='modifyForeDelImg' parameterType='_int'>
		delete from contestImg where contestNo=#{contestNo}
	</delete>
	
	<!-- 컨테스트 이미지 삽입 -->
	<insert id='contestUpdateImg' parameterType='contestImg'>
		insert into CONTESTIMG values(SEQ_CONTESTIMGNO.nextval,#{contestNo},'C',#{contestImgOri},#{contestImgRe})
	</insert>
	
	<!-- 컨테스트 찜하기 찜풀기 체크 -->
	<select id="contestOutBoxYn" parameterType="map" resultType="map">
	   select * from contestoutbox where contestNo=#{contestNo} and categorycode='C'and memberid=#{memberId}
	</select>
	
	<!-- 찜하기 인서트 -->
	<insert id="contestOutBoxInsert" parameterType="map">
	   insert into contestOutbox values(#{contestNo},#{memberId},'C')
	</insert>
	
	<!-- 찜하기 딜리트 ㅎ -->
	<delete id="contestOutBoxDelete" parameterType="map">
	   delete from contestOutbox where contestNo=#{contestNo} and categorycode='C' and memberid=#{memberId}
	</delete>
	
	<!-- 컨테스트 신고 -->
	<insert id="insertReport" parameterType="map">
	   insert into CONTESTREPORT values(SEQ_CONTESTREPORTNO.NEXTVAL,#{contestNo},#{reportId},'C',#{reportContent},default,default)
	</insert>	
	
</mapper>
