<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<select resultType="map" parameterType="string" id="idDuplicate"> 
		SELECT * FROM MEMBER WHERE MEMBERID=#{memberId} 
	</select>
	<insert id="insertMember" parameterType="map">
		INSERT INTO MEMBER VALUES(#{memberId},#{password},#{name},#{phone},#{email},#{address},DEFAULT,DEFAULT,#{oriImg},#{reImg},NULL,DEFAULT,#{bankCode},#{account},#{birth},#{interest, typeHandler=strArray},DEFAULT,#{memberLevel}) 
	</insert>
	<select id="login" parameterType="map" resultType="map">
		SELECT * FROM MEMBER WHERE MEMBERID=#{memberId}
	</select>
	<select id="selectOne" parameterType="map" resultType="map">
		SELECT * FROM MEMBER JOIN GRADE USING(GRADENO) JOIN BANK USING(BANKCODE) WHERE MEMBERID=#{id}
	</select>
	<update id="memberIntroduction" parameterType="string">
		UPDATE MEMBER SET INTRODUCTION = #{appealContent} WHERE MEMBERID=#{appealId}
	</update>
	<resultMap type="map" id="memberMap">
		<result column="interest" property="interest" typeHandler="strArray"/>
	</resultMap>
</mapper>
