<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<select resultType="map" parameterType="string" id="idDuplicate"> 
		SELECT * FROM MEMBER WHERE MEMBERID=#{memberId} 
	</select>
	<insert id="insertMember" parameterType="map">
		INSERT INTO MEMBER VALUES(#{memberId},#{password},#{name},#{phone},#{email},#{address},DEFAULT,DEFAULT,#{oriImg},#{reImg},NULL,DEFAULT,#{bankCode},#{account},#{birth},#{interest, typeHandler=strArray},DEFAULT,#{memberLevel}) 
	</insert>
	<select id="login" parameterType="map" resultType="map">
		SELECT * FROM MEMBER WHERE MEMBERID=#{memberId}
	</select>
	<select id="selectOne" parameterType="map" resultType="map">
		SELECT * FROM MEMBER JOIN GRADE USING(GRADENO) JOIN BANK USING(BANKCODE) WHERE MEMBERID=#{id}
	</select>
	<update id="memberIntroduction" parameterType="string">
		UPDATE MEMBER SET INTRODUCTION = #{appealContent} WHERE MEMBERID=#{appealId}
	</update>
	<select id="selectBuyCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM BUY WHERE MEMBERID=#{id}
	</select>
	<select id="boardSellCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM SELL WHERE MEMBERID=#{id}
	</select>
	<select id="buyAvg" parameterType="string" resultType="_double">
		SELECT AVG(BUYPRICE) FROM BUY WHERE MEMBERID=#{id}
	</select>
	<select id="sellAvg" parameterType="string" resultType="_double">
		SELECT AVG(SELLPRICE) FROM SELLOPTION O JOIN SELL S USING(SELLNO) WHERE S.MEMBERID=#{id}
	</select>
	<select id="searchId" parameterType="string" resultType="string">
		SELECT MEMBERID FROM MEMBER WHERE EMAIL=#{email}
	</select>
	<select id="searchEmail" parameterType="string" resultType="string">
		SELECT EMAIL FROM MEMBER WHERE MEMBERID=#{id}
	</select>
	<update id="updatePw" parameterType="map">
		UPDATE MEMBER SET PASSWORD = #{password} WHERE MEMBERID = #{id}
	</update>
	<update id="memberUpdate" parameterType="map">
		UPDATE MEMBER SET MEMBERNAME=#{name},BIRTH=#{birth},BANKCODE=#{bankCode},ACCOUNT=#{account},PHONE=#{phone},EMAIL=#{email},ADDRESS=#{address},INTERESTNO=#{interest, typeHandler=strArray},ORIIMG=#{oriImg},REIMG=#{reImg} WHERE MEMBERID=#{memberId}
	</update>
	<update id="deleteMember" parameterType="string">
		UPDATE MEMBER SET WITHDRAWYN='Y' WHERE MEMBERID=#{id}
	</update>
	<select id="buyOutBoxList" parameterType="string" resultType="map">
		SELECT * FROM BUYOUTBOX O JOIN BUY B USING(BUYNO) WHERE O.MEMBERID=#{memberId} ORDER BY B.BUYDATE DESC
	</select>
	<select id="sellOutBoxList" parameterType="string" resultType="map">
		SELECT * FROM SELLOUTBOX O JOIN SELL S USING(SELLNO) WHERE O.MEMBERID=#{memberId} ORDER BY S.SELLDATE DESC
	</select>
	<select id="selectOutBoxBuyCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM BUYOUTBOX O JOIN BUY B USING(BUYNO) WHERE O.MEMBERID=#{memberId}
	</select>
	<select id="selectOutBoxSellCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM SELLOUTBOX O JOIN SELL S USING(SELLNO) WHERE O.MEMBERID=#{memberId}
	</select>
	<select id="buyList" parameterType="string" resultType="map">
		SELECT * FROM BUY WHERE MEMBERID=#{memberId}
	</select>
	<select id="sellList" parameterType="string" resultType="map">
		SELECT * FROM SELL WHERE MEMBERID=#{memberId}
	</select>
	<resultMap type="map" id="memberMap">
		<result column="interest" property="interest" typeHandler="strArray"/>
	</resultMap>
</mapper>
