<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sell">
  <select id="findInterest" parameterType="_int" resultType="map">
  	select DETAILINTEREST from detailinterest where INTERESTNO=#{interest}
  </select>
 <insert id="insertDataMap" parameterType="map">
		insert into sell values(seq_sellno.nextval,'S',#{detailInterest},#{interest},#{title},default,#{content},#{writer},default,default)
		<selectKey keyProperty="sellNo" resultType="string" order="AFTER">
			select seq_sellno.currval from dual 
		</selectKey>
</insert>

<insert id="insertAttach" parameterType="com.kh.makeit.sell.model.vo.SellAttach">
	insert into sellimg values(SEQ_SELLIMG.nextval,#{sellNo},'S',#{sellImgOri},#{sellImgRe})
</insert>

<insert id="insertOption" parameterType="map">
	insert into SELLOPTION values(#{selloptionNo},#{sellNo},'S',#{sellPrice},#{sellOptionContent},#{selldeadLine})
</insert>

<select id="sellMainGrade" resultType="map" parameterType="map">
	select sellno, categorycode, memberid, detailinterestno, sell.interestno, selltitle, selldate, selldeleteyn, sellcheckyn, gradeno, sellimgno, sellimgori, sellimgre from sell join member using(memberid) join sellimg using(sellno, categorycode) where 1 = 1
	<if test="sCategoryFlag!=null and sCategoryFlag!=''">
		and detailinterestno = #{sCategoryFlag}
	</if>
	and sell.interestno = #{bCategoryFlag}
	order by gradeno desc
</select>

<select id="sellMainPerformance" resultType="map" parameterType="map">
	select * from performance join sell using(memberId) join sellimg using(sellno,categorycode) where 1 = 1
	
	<if test="sCategoryFlag==null and sCategoryFlag==''">
		and detailinterestno = 1
	</if>
	and interestno = 1
	order by totalsale desc
</select>

<select id="sellMainNew" resultType="map" parameterType="map">
	select * from sell join sellimg using(sellno, categorycode) where 1 = 1
	<if test="sCategoryFlag==null and sCategoryFlag==''">
		and detailinterestno = #{sCategoryFlag}
	</if>
	and interestno = #{bCategoryFlag}
	order by selldate desc
</select> 
</mapper>
