<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="support">
  <!-- qna게시물 카운트 -->
  <select id="selectQnaCount" resultType="_int">
  	SELECT COUNT(*) FROM QNA WHERE QNADELETEYN='N'
  </select>
  
  <!-- qna리스트 -->
  <select id="selectQnaList" resultType="map">
  	SELECT 
    *
    FROM (SELECT 
    Q.*,
  	C.FAQNACATEGORYNAME 
    FROM QNA Q
    JOIN FAQCATEGORY C ON(C.FAQNACATEGORYNO=Q.FAQNACATEGORYNO)
    WHERE QNADELETEYN='N'
    ORDER BY QNADATE DESC)
    START WITH QNAREFNO IS NULL
    CONNECT BY PRIOR QNANO = QNAREFNO
    ORDER SIBLINGS BY QNADATE DESC
  </select>
  
  <!-- qna 검색 게시물 카운트 -->
  <select id="selectSearchQnaCount" parameterType="map" resultType="_int">
  	SELECT COUNT(*) FROM QNA WHERE QNADELETEYN='N'
  	<if test="searchQna!=''">
  		AND ${filter} LIKE '%'||${searchQna}||'%'
  	</if>
  	<if test="sortCheck!=0">
  		AND FAQNACATEGORYNO=#{sortCheck}
  	</if>
  </select>
  
  <!-- qna 검색 미답변 게시물 카운트 -->
  <select id="selectSearchQnaCheckCount" parameterType="map" resultType="_int">
  	SELECT COUNT(*) FROM QNA WHERE QNADELETEYN='N' AND ANSWERYN='N'
  	<if test="searchQna!=''">
  		AND ${filter} LIKE '%'||${searchQna}||'%'
  	</if>
  	<if test="sortCheck!=0">
  		AND FAQNACATEGORYNO=#{sortCheck}
  	</if>
  </select>
  
  <!-- qna 검색 게시물 리스트 -->
  <select id="selectSearchQnaList" parameterType="map" resultType="map">
  	SELECT 
   	*
    FROM (SELECT 
    Q.*,
  	C.FAQNACATEGORYNAME 
    FROM QNA Q
    JOIN FAQCATEGORY C ON(C.FAQNACATEGORYNO=Q.FAQNACATEGORYNO)
    WHERE QNADELETEYN='N'
   
    <if test="searchQna!=''">
  		AND Q.${filter} LIKE '%'||${searchQna}||'%'    
    </if>   
  	<if test="sortCheck!=0">
  		AND Q.FAQNACATEGORYNO=#{sortCheck}
  	</if>
  	ORDER BY QNADATE DESC)
  	START WITH QNAREFNO IS NULL
    CONNECT BY PRIOR QNANO = QNAREFNO
    ORDER SIBLINGS BY QNADATE DESC
  </select>
  
  <!-- qna 검색 미답변 게시물 리스트 -->
  <select id="selectSearchQnaCheckList" parameterType="map" resultType="map">
  	SELECT 
   	*
    FROM (SELECT 
    Q.*,
  	C.FAQNACATEGORYNAME 
    FROM QNA Q
    JOIN FAQCATEGORY C ON(C.FAQNACATEGORYNO=Q.FAQNACATEGORYNO)
    WHERE QNADELETEYN='N' AND ANSWERYN='N'
   
    <if test="searchQna!=''">
  		AND Q.${filter} LIKE '%'||${searchQna}||'%'    
    </if>   
  	<if test="sortCheck!=0">
  		AND Q.FAQNACATEGORYNO=#{sortCheck}
  	</if>
  	ORDER BY QNADATE DESC)
  	START WITH QNAREFNO IS NULL
    CONNECT BY PRIOR QNANO = QNAREFNO
    ORDER SIBLINGS BY QNADATE DESC
  </select>
  
  <select id="selectQnaPassCheck" parameterType="_int" resultType="string">
  	SELECT QNAPASS FROM QNA WHERE QNANO=#{qnaNo}
  </select>
  <!-- 게시물 셀렉트 -->
  <select id="selectOneQna" parameterType="_int" resultType="map">
  	SELECT 
    Q.*,
  	C.FAQNACATEGORYNAME,
  	M.GRADENO,
  	M.MEMBERLEVEL
    FROM QNA Q
    JOIN FAQCATEGORY C ON(C.FAQNACATEGORYNO=Q.FAQNACATEGORYNO)
    JOIN MEMBER M ON(M.MEMBERID=Q.MEMBERID)
    WHERE QNANO=#{qnaNo}
  </select>
  
  <!-- 게시물 셀렉트 -->
  <select id="selectOneQna3" parameterType="_int" resultType="map">
  	SELECT 
    Q.*,
  	C.FAQNACATEGORYNAME,
  	M.GRADENO,
  	M.MEMBERLEVEL
    FROM QNA Q
    JOIN FAQCATEGORY C ON(C.FAQNACATEGORYNO=Q.FAQNACATEGORYNO)
    JOIN MEMBER M ON(M.MEMBERID=Q.MEMBERID)
    WHERE QNAREFNO=#{qnaNo}
  </select>
  
  <!-- 게시글 등록(회원) -->
  <insert id="insertQnaEnd" parameterType="map">
  	INSERT INTO QNA VALUES(SEQ_QNANO.NEXTVAL,#{title},#{writer},#{content},default,#{pass},1,null,#{categoryNo},default,sysdate)
  	<selectKey resultType="_int" keyProperty="qnaNo" order="AFTER">
  	 SELECT SEQ_QNANO.CURRVAL FROM DUAL
  	</selectKey>
  </insert>
  
  <!-- 게시글 등록(관리자) -->
  <insert id="insertQnaEndAdmin" parameterType="map">
  	INSERT INTO QNA VALUES(SEQ_QNANO.NEXTVAL,#{title},#{writer},#{content},'Y',#{pass},2,#{qnaRefNo},#{categoryNo},default,sysdate)
  	<selectKey resultType="_int" keyProperty="qnaNo" order="AFTER">
  	 SELECT SEQ_QNANO.CURRVAL FROM DUAL
  	</selectKey>
  </insert>
  
  <!-- 게시글 수정 -->
  <update id="updateQnaEnd" parameterType="map">
  	UPDATE QNA SET QNATITLE=#{title}, QNACONTENT=#{content},FAQNACATEGORYNO=#{categoryNo} WHERE QNANO=#{qnaNo}
  </update>
  
  <!-- 게시글 삭제 -->
  <update id="deleteQnaEnd" parameterType="_int">
  	UPDATE QNA SET QNADELETEYN='Y' WHERE QNANO=#{qnaNo} OR QNAREFNO=#{qnaNo}
  </update>
  
  <!-- 게시글 답변여부 수정 -->
  <update id="updateQnaReple" parameterType="_int">
  	UPDATE QNA SET ANSWERYN='Y' WHERE QNANO=#{qnaNo}
  </update>
</mapper>
