<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.makeit.common.StringArrayTypeHandler" alias="strArray"/>
		<typeAlias type='com.kh.makeit.contest.vo.Contest' alias='contest'/>
		<typeAlias type='com.kh.makeit.contest.vo.ContestImg' alias='contestImg'/>
	</typeAliases>
	<typeHandlers>
		<package name="com.kh.makeit.common"/>
	</typeHandlers>
	
</configuration>


