<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

	<resultMap type="map" id="memberMap">
		<result column="interest" property="interest" typeHandler="strArray"/>
	</resultMap>
	
	<select id="selectBoardCount" resultType="_int">
		SELECT COUNT(*) FROM FREE WHERE FREEYN NOT LIKE 'Y'
	</select>
	
	<select id="selectBoardList" resultType="Map">
		SELECT * FROM FREE WHERE FREEYN NOT LIKE 'Y'
	</select>
	
	<select id="selectBoardDetailViewList" resultType="Map">
		SELECT *  FROM FREE  WHERE FREENO = #{freeNo}
	</select>
	
	<select id="selectBoardCommentViewList" resultType="Map">
		SELECT *  FROM FREECOMMENT  WHERE FREENO = #{freeNo} ORDER BY FREECOMMENTREF,FREECOMMENTNO
	</select>
	
	<select id="selectBoardImgViewList" resultType="Map">
		SELECT *  FROM FREEIMG  WHERE FREENO = #{freeNo}
	</select>
	
	<update id="updateboardViews">
		UPDATE FREE SET FREEVIEWS = FREEVIEWS+1 WHERE FREENO = #{freeNo}
	</update>
	
	<insert id="insertComment" parameterType="Map">
		INSERT INTO FREECOMMENT VALUES(seq_freecommentno.nextval,#{freeNo},seq_freecommentno.currval,#{memberId},1,#{inputText},SYSDATE,'F')
	</insert>
	
	<insert id="insertreComment" parameterType="Map">
		INSERT INTO FREECOMMENT VALUES(seq_freecommentno.nextval,#{freeNo},#{commentNo},#{memberId},2,#{inputText},SYSDATE,'F')
	</insert>
	
	<delete id="deleteComment" parameterType="_int">
		DELETE FROM FREECOMMENT WHERE FREECOMMENTNO = #{commentNo}
	</delete>
	
	
</mapper>